.item {
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.two-line-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1;
    max-height: 2;
	width: 100%;
	text-align: center;
}

p.overlay {
    background: rgba(31, 200, 219, 0.8);
    color: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 15px;
    line-height: 1.3;
}

p.overlay:hover {
    opacity: 1;
}

p.two-line-limit.overlay > * {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

@media screen and (max-width: 769px) {
    p.overlay {
        opacity: 0.8;
    }
    .column.is-12, .column.is-12-mobile {
        flex: none;
        width: 100%;
    }
}

.hero-top {
	align-items: flex-start !important;
}

.is-center {
	text-align: center;
}

.is-fullwidth-no-block {
	width: 100%;
}

.video-frame {
    width: 100%;
    height: 410px;
    max-width: 728px;
}

.notification {
    padding: 30px 35px;
}

.message.season.is-closed .message-header {
    border-radius: 3px;
}

.message.season.is-closed .message-body {
    display: none;
}

.loading-label {
    position: fixed;
    display: block;
    width: 200px;
    height: 100px;
    margin-left: 50%;
    left: -100px;
    margin-top: 50%;
    top: -50px;
    text-align: center;
}


/*

    VUE TRANSITIONS

 */

/* always present */
.fade-transition {
  transition: all .3s ease;
  opacity: 1;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.fade-enter, .fade-leave {
  opacity: 0;
}
